{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} Password Reset Complete {% endblock title %}

{% block content %}

    <div class="container alert alert-success shadow mt-5 p-5 w-50 text-center fw-bold" role="alert">
        <h3>Password Reset Completed Successfully</h3>
        <p class="text-muted">Your password has been set.You may now login</p>
        
        <a class="btn btn-info" type="button" href="{% url 'two_factor:login' %}"> 
            &nbsp; Proceed to login
        </a>
    </div>
    
{% endblock content %}