{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} New Password {% endblock title %}

{% block content %}

    <style>
        #id_email{
            border:1px solid #fff !important;
            background-color:#bdc3c7;
            color:black;
        }
    </style>

    <div class="container bg-white shadow-md form-layout mt-5 p-5">
        <h3>Password New Password</h3>
        <p>Plese enter your new password twice so we can verify that you typed it in correctly.</p>

        <form method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        {{form|crispy}}
                    </div>
                </div>
            <button type="submit" class="btn btn-info">Update Password</button>
        </form>
    </div>

    <script>
        window.onload = function(){
            document.getElementById('id_email').focus()
        }
    </script>

{% endblock content %}